# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jonat\OneDrive\Études\PhD\Cambridge Machine Learning\Projects\Symbolic Pursuit\Code\symbolic_pursuit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
